<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyse</title>


</head>
<body>

<h1>Classification</h1>

<h1>Left : Conditions vs all condition in dataset. Right: condition vs condition in task.</h1>
<ul>
    {% for vector in classification_array %}
        <li>{{ vector.label }}<br />
            <img src="assets/{{ vector.src }}" title="{{ vector.label }}"/>

        </li>
    {% endfor %}
</ul>

<h1>Gram</h1>

{% for gram in gram_array %}
    <img src="assets/{{ gram.src }}" title="{{ gram.label }}"/>
{% endfor %}

<h1>Latent directions</h1>
<h1>Principal components (positive followed by negative)</h1>
<ul>
    {% for latent in latent_array %}
        <li>{{ latent.title }} :<br />
            <img src="assets/{{ latent.src }}" title="{{ latent.title }}"/>
        </li>
    {% endfor %}
</ul>

</body>
</html>